<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Productivity Helper.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>09ADB73B1BE0B21E0084A3DA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>09ADB74E1BE0B21E0084A3DA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>09ADB7591BE0B21E0084A3DA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
